<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/cambiarContrasenaCliente}" th:method="post">
        <label>Password viejo</label>
        <input type="pass" th:field="${passwordViejo}">
        <label>Password nuevo</label>
        <input type="pass" th:field="${passwordNuevo}">
        <button>Enviar</button>
    </form>
</body>
</html>
