<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/cambiarContrasenaCliente}" th:method="post">
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <label>Password viejo</label>
        <input type="password" name="passwordViejo" th:value="${passwordViejo}" required>
        <label>Password nuevo</label>
        <input type="password" name="passwordNuevo" th:value="${passwordNuevo}" required>
        <button>Enviar</button>
    </form>
</body>
</html>
