<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Los Rolos DEV</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    

    <!-- CSS -->
	<link rel="stylesheet" th:href="@{css/dashboard-restaurante.css}">
	
</head>

<body>

	<section th:id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> Los Rolos DEV</a>
		<ul class="side-menu">
			<li><a href="#" class="active"><i class='bx bxs-dashboard icon' ></i> Configuración</a></li>
			<li class="divider" data-text="Opciones">Opciones</li>

			<li>
				<a href="#container-ingredientes"><i class='bx bxs-inbox icon' ></i> Ingredientes <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#ver-ingredientes">Ver ingrediente</a></li>
					<li><a href="#agregar-ingrediente">Agregar ingrediente</a></li>
					<li><a href="#editar-ingrediente">Editar ingrediente</a></li>
					<li><a href="#eliminar-ingrediente">Eliminar ingrediente</a></li>
				</ul>
			</li>

			<li>
				<a href="#container-productos"><i class='bx bxs-inbox icon' ></i> Productos <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#ver-productos">Ver producto</a></li>
					<li><a href="#agregar-producto">Agregar producto</a></li>
					<li><a href="#editar-producto">Editar producto</a></li>
					<li><a href="#eliminar-producto">Eliminar producto</a></li>
				</ul>
			</li>

            <li>
				<a href="#container-menu"><i class='bx bxs-inbox icon' ></i> Menús <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#ver-menus">Ver menú</a></li>
					<li><a href="#agregar-menu">Agregar menú</a></li>
					<li><a href="#editar-menu">Editar menú</a></li>
					<li><a href="#">Eliminar menú</a></li>
				</ul>
			</li>

			<li class="divider" data-text="Pedidos">Pedidos</li>
			<li><a href="#"><i class='bx bx-table icon' ></i> Ver pedidos</a></li>
		</ul>
	</section>
	

	<section th:id="content">

		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Buscar...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>

			<span class="divider"></span>
			<div class="profile">
                <img th:src="${restaurante.imagen}" alt="">
				<ul class="profile-link">
					<li><a th:href="@{/cerrarSesion}"><i class='bx bxs-log-out-circle' ></i> Cerrar sesión</a></li>
				</ul>
			</div>
		</nav>


		<div class="container-productos">
            <main th:id="ver-productos">
                <h1 class="title">Bienvenid@ a la sección de productos</h1>
                <h3>Consulta tus productos</h3>

                <div class="id">
                    <form th:action="@{/productoPorId}" th:object="${productoAConsultar}" method="post" style="display: flex">
                        <label th:id="label-id">Ingresa el id de tu producto:</label>
                        <input type="text" class="form-control" placeholder="ID de tu producto" th:id="input-id"
                               th:field="*{idProducto}">
                        <button class="btn btn-primary">Buscar</button>
                    </form>
                </div>
                
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
						<th scope="col">Imagen de tu producto</th>
                        <th scope="col">Nombre de producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Especialidad</th>
						<th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody class="tabla-productos-consultar">
                    <tr th:each="prod:${productos}">
                        <th scope="row" th:text="${prod.idProducto}"></th>
                        <td><img th:src="${prod.imagenProducto}" alt="imagen_producto" th:id="imagen-producto"></td>
                        <td th:text="${prod.nombre}"></td>
                        <td th:text="${prod.precio}"></td>
                        <td th:each="clasificacion:${clasificaciones}"
                            th:if="${clasificacion.idClasificacion == prod.idClasificacion}"
                            th:text="${clasificacion.nombreClasificacion}"></td>
                        <td><a type="button" class="btn btn-outline-danger"
                               th:href="@{/eliminarProducto/{idProducto}(idProducto=${prod.idProducto})}">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </main>
            <main th:id="agregar-producto">
                <h3>Agrega un nuevo producto</h3>
                <section class="form my-3 mx-3" th:id="form-registro-producto">
                    <div class="container g-0">
                        <div class="row g-0">
                                <div class="col-lg-5">
                                    <img th:src="@{img/dashboard/ingredientes.jpg}" class="img-fluid" alt="productos">
                                </div>
                                <div class="col-lg 5 px-5 pt-5">
                                    <form th:action="@{/registrarProducto}" th:object="${producto}" method="post">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Nombre de tu producto</label>
                                                <input type="text" class="form-control" name="nombreProducto" required
                                                       th:field="*{nombre}">
                                            </div>
                                            <div class="form-group col">
                                                <label>Clasificación</label>
                                                <select class="form-select" name="clasificacion" th:id="clasificacion"
                                                        th:field="*{idClasificacion}">
                                                    <option th:each="clasificacion:${clasificaciones}"
                                                            th:value="${clasificacion.idClasificacion}"
                                                            th:text="${clasificacion.nombreClasificacion}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>URL imagen del producto</label>
                                                <input type="text" class="form-control" name="url-imagen-producto"
                                                       required th:field="*{imagenProducto}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Precio del producto</label>
                                                <input type="number" class="form-control" name="precio-producto"
                                                       min="1000" required th:field="*{precio}">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-lg-8">
                                                <button class="boton-registrar mt-3 mb-5">Registrar producto</button>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </section>
            </main>

		<div class="container-menus">

            <main th:id="ver-menus">
                <h1 class="title">Bienvenid@ a la sección de menús</h1>
                <h3>Consulta tus menus</h3>

                <div class="id">
                    <form th:action="@{/menuPorId}" th:object="${menuAConsultar}" method="post" style="display: flex">
                        <label th:id="label-id">Ingresa el id de tu Menu:</label>
                        <input type="text" class="form-control" placeholder="ID de tu producto" th:id="input-id"
                               th:field="*{idMenu}">
                        <button class="btn btn-primary">Buscar</button>
                    </form>
                </div>
                
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Imagen de tu menú</th>
                        <th scope="col">Nombre de menú</th>
                        <th scope="col">Precio</th>
						<th scope="col">Eliminar</th>
                    </tr>
                    </thead>

                    <tbody class="tabla-menus-consultar">
                        <tr th:each="men: ${menus}">
                            <th scope="row" th:text="${men.idMenu}"></th>
                            <td><img th:src="${men.imagenMenu}" alt="imagen_menu" th:id="imagen-menu"></td>
                            <td th:text="${men.nombre}"></td>
                            <td th:text="${men.precio}"></td>
							<td><a type="button" class="btn btn-outline-danger" th:href="@{/eliminarMenu/{idMenu}(idMenu=${men.idMenu})}">Eliminar</a></td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
                
            </main>

            <main th:id="agregar-menu">
                <h3>Agrega un nuevo menú</h3>
                <section class="form my-3 mx-3" th:id="form-registro-menu">
                    <div class="container g-0">
                        <div class="row g-0">
                                <div class="col-lg-5">
                                    <img th:src="@{img/dashboard/ingredientes.jpg}" class="img-fluid" alt="menus">
                                </div>
                                <div class="col-lg 5 px-5 pt-5">
                                    <form th:action="@{/registrarMenu}" th:object="${menu}" method="post">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Nombre de tu menú</label>
                                                <input type="text" class="form-control" name="nombreMenu" required th:field="*{nombre}">
                                            </div>
                                            
                                        </div>
                            
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>URL imagen del menú</label>
                                                <input type="text" class="form-control" name="url-imagen-menu" required th:field="*{imagenMenu}">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Precio del menú</label>
                                                <input type="number" class="form-control" name="precio-menu" min="1000" required th:field="*{precio}">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-lg-8">
                                            <button class="boton-registrar mt-3 mb-5">Registrar menú</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>

	<script th:src="@{https://cdn.jsdelivr.net/npm/apexcharts}"></script>
	<script th:src="@{js/dashboard-restaurante.js}"></script>
</body>
</html>
