<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Rolos DEV</title>

    <!-- Bootsrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-lg navigation-wrap">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="logo" class="img-fluid" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fas fa-stream navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/home}"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#quienes-somos">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#nuestro-equipo">Nuestro equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Inicia sesión</a>
            </li>
            
            
          </ul>
        </div>
      </div>
    </nav>
  </header>


    <!--seccion 1 banner-->
    <section id="inicio">
      <div class="top-banner">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-md-6">
              <h1>Consorcio de comidas a domicilio</h1>
              <p>
                CCD ofrece una solución en la cual los clientes encuentran una
                Rotonda Virtual, en la cual pueden hacer pedidos a cualquiera de
                los restaurantes participantes, generando un solo pago, un solo
                envío a domicilio y un único punto de contacto y atención al
                público.
              </p>
              <a th:href="@{/login}">
                <button class="main-btn mt-4" >
                  Ordenar ahora 
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--seccion 2 -->
    <section class="division">
      <div></div>
    </section>

    <!--seccion 3 ¿quiénes somos? -->
    <section id="quienes-somos">
      <div class="seccion-quienes-somos">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content">
                <h2>Los Rolos DEV</h2>
                <p>
                  Los Rolos DEV es un equipo de desarollo conformado por <br />
                  Cristopher Vargas y Laura Ramírez.Este equipo se da la tarea
                  de <br />
                  desarrollar una página web de restaurantes, clasificados por
                  <br />
                  especialidad, donde el usuario podrá crear su propia cuenta,
                  loguearse <br />
                  y posteriormente ver la disponibilidad en cada uno de los
                  restaurantes <br />
                  que hacen parte del consorcio, también comprar productos o
                  <br />
                  combos personalizables y unificarlos en una sola cuenta.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--seccion 4 ¿nuestro equipo? -->
    <section id="nuestro-equipo">
      <div class="equipo wrapper row row-cols-1 row-cols-md-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center pb-3">
              <h2>Nuestro equipo de trabajo</h2>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/cristopher.jpg"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Cristopher Vargas Ruda</h4>
                  <h6>Backend developer</h6>
                </div>
              </div>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/laura.jpg"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Laura Tatiana Ramírez Rodríguez</h4>
                  <h6>Frontend developer</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/kevin"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Kevin Julián Culma Culma</h4>
                  <h6>Database Administrator</h6>
                </div>
              </div>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/Cristian"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Cristian Stiven Guzman Tovar</h4>
                  <h6>Frontend developer</h6>
                </div>
              </div>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/Nicolas"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Nicolás David Sabogal Velásquez</h4>
                  <h6>Backend developer</h6>
                </div>
              </div>
            </div>
          </div>
            
          <div class="row">

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/Robert"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Robert Eduardo Agudelo Cardona</h4>
                  <h6>Backend developer</h6>
                </div>
              </div>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/Andres"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Andrés Camilo Jiménez Mantilla</h4>
                  <h6>Backend developer</h6>
                </div>
              </div>
            </div>

            <div class="col-sm text-center">
              <div class="card">
                <img
                  src="img/equipo/Sebastian"
                  alt="cristopher"
                  class="img-fluid"
                  th:id="img-equipo"
                />
                <div class="caption-integrante py-4 py-2">
                  <h4>Juan Sebastián Garzón Beltrán</h4>
                  <h6>Backend developer</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Página desarrollada por: Los Rolos DEV
      </div>
      <!-- Copyright -->
    </footer>


    <!-- JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
      integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
