<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Los Rolos DEV</title>

        <!-- Tailwindcss -->
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
        </style>

        
    </head>

    <body class="font-['Roboto']">
    </header>
        
        <main class="container flex flex-col w-3/5 pt-8 mx-auto mt-12 rounded-2xl">
            <section id="cardsContainer" class="grid grid-cols-3">
            </section>
        </main>

        <!-- Internal scripts -->
        <script src="js/listaRestaurantes.js"> </script>
    </body>
</html>