<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Rolos DEV</title>

    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   
    <!-- CSS -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <script src="https:www.google.com/recaptcha/api.js" async defer></script>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navigation-wrap">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img th:src="@{img/logo.png}" alt="logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-stream navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/home}">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
    </header>


    <!--Login section-->
    <section class="Form my-3 mx-3" id="form-login">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img th:src="@{img/burger.jpg}" class="img-fluid" alt="hamburguesa">
                </div>
                    <div class="col-lg 4 px-5 pt-5">
                        <h1 class="font-weigth-bold py-3">Bienvenido</h1>
                        
                        <h4>Inicia sesión con tu cuenta</h4>
                        <form th:action="@{/loguearse}" th:object="${login}" method="post" onsubmit="return validarcaptcha()">
                            <div class="form-row">
                                <div class="col-lg-8">
                                    <input type="text" placeholder="Usuario" class="form-control my-3 p-3" th:field="*{usuario}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-8">
                                    <input type="password" placeholder="Contraseña" class="form-control my-3 p-3" th:field="*{pass}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <!--se implementa el widget del captcha-->    <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.key')}"></div>
                                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                                <div class="col-lg-8">
                                   <button class="main-btn mt-3 mb-5">Iniciar sesión</button>
                                </div>
     
                            </div>
                            <p>¿No tienes una cuenta? <a th:href="@{seleccionarRol}">Registrate aquí.</a> </p>
                        </form>
                    </div>
               
            </div>
        </div>
    </section>
   <script type="text/javascript">
    function validarcaptcha(){
        if(grecaptcha.getResponse()){
            return true;
        }else {
            alert('Sorry socio no se aceptan peruanos')
            return false
        }
    }
   </script>
</body>
</html>
