<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Los Rolos DEV</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS -->
	<link rel="stylesheet" th:href="@{css/dashboard-restaurante.css}">
</head>

<body>
    <section class="form my-3 mx-3">
        <form th:action="@{/ModificarIngrediente}" th:object="${stock}" method="post">
            <p th:text="${stock.ingrediente.idIngrediente}"></p>
            <input hidden type="text" th:field="*{idStock}" th:value="*{idStock}">
            <input hidden type="text" th:field="*{restaurante.idRestaurante}" th:value="*{restaurante.idRestaurante}">
            <input hidden type="text" th:field="*{ingrediente.idIngrediente}" th:value="*{ingrediente.idIngrediente}">
            <input type="text" th:field="*{cantidadStock}" th:value="*{cantidadStock}">
            <input type="text" th:field="*{ingrediente.descripcion}" th:value="*{ingrediente.descripcion}">
            <button type="submit"  class="btn btn-outline-danger">Modificar</button>
            <div th:errors="*{ingrediente.descripcion}"></div>
            <div th:errors="*{cantidadStock}"></div>
        </form>
    </section>
</body>
</html>
