<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form th:action="@{/modificarDescripcionIngrediente}" th:object="${ingrediente}" method="post">
            <input type="text" th:field="*{nombre}" name="ingrediente" readonly> 
            <input type="text" th:field="*{descripcion}" name="desc" placeholder="Ingrese la nueva descripción">
            <button type="submit">Guardar</button>
        </form>
    </section>
</body>
</html>
