<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Los Rolos DEV</title>

    <!-- Bootsrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/carrito.css">
  </head>

  <body>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navigation-wrap">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="img/logo.png" alt="logo" class="img-fluid" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fas fa-stream navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/home}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cerrarSesion}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!--Pago papadio-->
    <section class="intro">
        Aqui va lo del pago xd
        <h1>medio de pago</h1>
        <select id="forma-pago" name="forma-pago" onchange="mostrarBoton()">
          <option value="tarjeta">Tarjeta</option>
          <option value="efectivo">Efectivo</option>
        </select>

        <div id="boton-registrar-tarjeta" style="display: none;">
          <select name="elegir-tarjeta" id="elegir-tarjeta">
            <option th:each="tarjeta:${tarjetas_cliente}"
                    th:value="${tarjeta.numTarjeta}"
                    th:text="${tarjeta.numTarjeta}">f</option>
          </select>
          <a class="nav-link active" aria-current="page" th:href="@{/goTarjeta}">registrarTarjeta</a>
        </div>

        <button th:href="@{/pagarCompra}">PAGAR COMPRA</button>
        <script>
          function mostrarBoton() {
            var formaPago = document.getElementById("forma-pago").value;
            var botonTarjeta = document.getElementById("boton-registrar-tarjeta");
        
            if (formaPago === "tarjeta") {
              botonTarjeta.style.display = "block";
            } else {
              botonTarjeta.style.display = "none";
            }
          }
        </script>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white mt-10">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Página desarrollada por: Los Rolos DEV
      </div>
      <!-- Copyright -->
    </footer>
    
  </body>
</html>
