<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Rolos DEV</title>

    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   
    <!-- CSS -->
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <section class="Form my-3 mx-3" id="form-registro">
        <div class="container g-0">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img src="img\forms\chef.webp" class="img-fluid" alt="imagen">
                </div>
                <div class="col-lg 4 px-5 pt-5">
                    <h1 class="font-weigth-bold py-3">Formulario de registro</h1>
                    <form th:action="@{/registrarRestaurante}" th:object="${restaurante}" method="post">
                        <div class="row">
                            <div class="form-group col">
                                <label>Nombre de tu Restaurante</label>
                                <input type="text" class="form-control" name="nombreRestaurante" th:field="*{nombre}">
                            </div>
                            <div class="form-group col">
                                <label>Dirección</label>
                                <input type="text" class="form-control" name="direccion" th:field="*{direccion}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Logo de tu Restaurante (url)</label>
                                <input type="text" class="form-control" name="logo-url" th:field="*{imagen}">
                            </div>
                            <div class="form-group col">
                                <label>Especialidad</label>
                                <select class="form-select" name="elegir-especialidad" id="elegir-especialidad"
                                        th:field="*{idEspecialidad}">
                                    <option th:each="especialidad:${especialidades}"
                                            th:value="${especialidad.idEspecialidad}"
                                            th:text="${especialidad.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" name="telefonoCliente"
                                       th:field="*{telefono}">
                            </div>
                            <div class="form-group col">
                                <label>Usuario</label>
                                <input type="text" class="form-control" name="usuario-restaurante"
                                       th:field="*{user}">
                            </div>
                            <div class="form-group col">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" name="password" th:field="*{password}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <button class="boton-loguear mt-3 mb-5">Registrar</button>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
